@page
@model PeopleIndexModel
@{
    ViewData["Title"] = "People Index";
}

<div style="display: inline-block; margin-right: 480px">
    <h1>People index</h1>
</div>
<form method="post">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Bank Name</th>
            <th>Account Balance</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in Model.People)
        {
            <tr>
                <td>@person.ID</td>
                <td>@person.Name</td>
                <td>@person.BankName</td>
                <td>@person.AccountBalance</td>
                <td>
                    <a asp-page="./EditPeople" asp-route-Id="@person.ID">Edit</a> |
                    <button type="submit" asp-page-handler="delete" asp-route-id="@person.ID"> delete </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a asp-page="/CreatePeople">Create New</a>
</form>